@layout MainLayout
@inherits LayoutComponentBase

<AuthorizeView>
  <Authorized>
    @Body
  </Authorized>
  <NotAuthorized>
    <div class="main">
      Please log in or sign up to continue
    </div>
  </NotAuthorized>
</AuthorizeView>
