@inherits LayoutComponentBase

@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

@{
    string identityUrl = Configuration["IdentityUrl"] ?? throw new Exception("Identity URL is null");
}

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="user-menu">
                @if (NavigationManager.BaseUri != NavigationManager.Uri)
                {
                    <div class="index-page-link">
                        <a href="">index page</a>
                    </div>
                }
                <div class="dropdown">
                    @context.User.Identity?.Name
                    <div class="show-menu"></div>
                    <div class="dropdown-content">
                        <AuthorizeView Roles="admin">
                            <Authorized Context="adminContext">
                                <a href="@($"{identityUrl}/admin/users")">Users</a>
                            </Authorized>
                        </AuthorizeView>
                        <a href="@($"{identityUrl}/account/manage")">Settings</a>
                        <a @onclick="OnLogout">Log out</a>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                <div class="login-and-signup">
                    <a class="login" href="authentication/login">Log in</a>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    @Body
</div>

@code {

    private void OnLogout(MouseEventArgs args)
    {
        NavigationManager.NavigateToLogout("authentication/logout");
    }

}
