.main {
  width: auto !important;
}

.users-main {
  clear: right;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
}

.red {
  background-color: red;
  color: white;
}

.users-main th, .users-main td {
  width: 200px;
}

.delete-btn {
  cursor: pointer;
}
