@page

<!DOCTYPE html>
<html>
<head>
  <title>Client-server app</title>
</head>
<body>
    <div>
      <a href="/changepassword">Змінити пароль</a>
    </div>
    <div>
      <a href="/twofactorauthentication">Увімкнути/вимкнути Two factor authentication (2fa)</a>
    </div>
</body>
</html>
