@page

<!DOCTYPE html>
<html>
<head>
  <title>Client-server app</title>
  <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
  <script src="/js/password.js" type="text/javascript"></script>
  <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>

  <label for="password">Старий пароль</label>
  <input id="old-password" type="password" /> <br />

  <label for="password">Новий пароль</label>
  <input id="new-password" type="password" /> <br />

  <label for="password">Підтвердіть новий пароль</label>
  <input id="confirm-new-password" type="password" /> <br />

  <p onclick="app.changePassword();">Змінити пароль</p>

  <ul id="errors"></ul>

  <mini-profiler />
</body>
</html>
