@page

<!DOCTYPE html>
<html>
<head>
  <title>Client-server app</title>
  <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
  <script src="/js/login.js" type="text/javascript"></script>
  <script src="/js/qrcode.js" type="text/javascript"></script>
  <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body onload="app.generateQrCode()">
  <div id="qrCode"></div>
  <mini-profiler />
</body>
</html>
