@page

<!DOCTYPE html>
<html>
<head>
  <title>Client-server app</title>
  <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
  <script src="/js/password.js" type="text/javascript"></script>
  <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>

  <div id="email-block">
    <label for="email">Електронна пошта</label>
    <input id="email" type="text" /> <br />

    <p onclick="app.generateNewPassword();">Згенерувати новий пароль</p>

    <ul id="errors"></ul>
  </div>

  <div id="login-block" style="display: none;">
    <p>Новий пароль відправлений на пошту.</p>
    <a href="/signin">Увійти</a>
  </div>

  <mini-profiler />
</body>
</html>
