@model LoginViewModel

@{
  string baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<form asp-route="Login">
  <input type="hidden" asp-for="ReturnUrl" />

  <div class="field">
    <label class="display-block" asp-for="Username">Username</label>
    <input class="input-text" asp-for="Username" type="text" />
  </div>

  <div class="field">
    <label class="display-block" asp-for="Password">Password</label>
    <input class="input-text" asp-for="Password" type="password" />
  </div>

  <div class="password-recovery">
    <a href="password-recovery">Recover password</a>
  </div>

  <partial name="_Button" model="@("Log in")" />
</form>

<div class="login-with">
  Log in with
</div>
<div class="login-social">
  <a class="login-social-link" href="https://www.facebook.com/v3.2/dialog/oauth?response_type=code&client_id=2183212631898223&redirect_uri=@(baseUrl)/facebook-callback">
    <img src="/img/facebook.png" />
  </a>
  <a class="login-social-link" href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=895102170629-q6uh1oqvltjau4v9p4lqsor155dlvdcl.apps.googleusercontent.com&redirect_uri=@(baseUrl)/google-callback&scope=email">
    <img src="/img/google.png" />
  </a>
  <a class="login-social-link" href="https://github.com/login/oauth/authorize?client_id=f39f5854ebe1640ebac6&redirect_uri=@(baseUrl)/github-callback&scope=user:email">
    <img src="/img/github.png" />
  </a>
  <a class="login-social-link" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=778xsexk4ogstv&redirect_uri=@(baseUrl)/linkedin-callback&scope=r_liteprofile%20r_emailaddress%20w_member_social">
    <img src="/img/linkedin.png" />
  </a>
</div>

@section Styles {
  <link href="/css/login.css" rel="stylesheet" type="text/css" />
}
