@model LogoutViewModel

<div class="logout-page">
  <div class="lead">
    <h1>Logout</h1>
    <p>Would you like to logout?</p>
  </div>

  <form asp-action="Logout">
    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
    <partial name="_Button" model="@("Yes")" />
  </form>
</div>

@section Styles {
  <link href="/css/logout.css" rel="stylesheet" type="text/css" />
}
