@model RegisterViewModel

<form asp-route="Register">
  <input type="hidden" asp-for="ReturnUrl" />

  <div class="validation" asp-validation-summary="ModelOnly"></div>

  <div class="field">
    <label class="display-block" asp-for="Name">Name</label>
    <input class="input-text" asp-for="Name" type="text" />
    <span asp-validation-for="Name"></span>
  </div>

  <div class="field">
    <label class="display-block" asp-for="Email">Email</label>
    <input class="input-text" asp-for="Email" type="text" />
    <span asp-validation-for="Email"></span>
  </div>

  <div class="field">
    <label class="display-block" asp-for="Password">Password</label>
    <input class="input-text" asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>
  </div>

  <div class="field">
    <label class="display-block" asp-for="ConfirmPassword">Retype password</label>
    <input class="input-text" asp-for="ConfirmPassword" type="password" />
    <span asp-validation-for="ConfirmPassword"></span>
  </div>

  <partial name="_Button" model="@("Sign up")" />
</form>
