@model ResetPasswordViewModel

<form asp-route="ResetPassword">
  <input type="hidden" asp-for="Id" />
  <input type="hidden" asp-for="Code" />
  <input type="hidden" asp-for="ReturnUrl" />

  <div class="validation" asp-validation-summary="ModelOnly"></div>

  <div class="field">
    <label class="display-block" asp-for="Password">Password</label>
    <input class="input-text" asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>
  </div>

  <div class="field">
    <label class="display-block" asp-for="ConfirmPassword">Retype password</label>
    <input class="input-text" asp-for="ConfirmPassword" type="password" />
    <span asp-validation-for="ConfirmPassword"></span>
  </div>

  <partial name="_Button" model="@("Reset password")" />
</form>
