@page
@model TodoList.Identity.API.Pages.Account.Manage.ChangePasswordPageModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="validation"></div>

    <div class="field">
        <label asp-for="Input.OldPassword" class="display-block">Current</label>
        <input asp-for="Input.OldPassword" type="password" class="input-text" />
        <span asp-validation-for="Input.OldPassword"></span>
    </div>

    <div class="field">
        <label asp-for="Input.NewPassword" class="display-block">New</label>
        <input asp-for="Input.NewPassword" type="password" class="input-text" />
        <span asp-validation-for="Input.NewPassword"></span>
    </div>

    <div class="field">
        <label asp-for="Input.ConfirmNewPassword" class="display-block">Retype new</label>
        <input asp-for="Input.ConfirmNewPassword" type="password" class="input-text" />
        <span asp-validation-for="Input.ConfirmNewPassword"></span>
    </div>

    <partial name="_Button" model="@("Change")" />
</form>
