@layout MainLayout
@inherits LayoutComponentBase

@inject AppState AppState

@if (AppState.IsUserLoggedIn)
{
  @Body
}
else
{
  <a href="login">Log in</a>
  <a href="sign-up">Sign up</a>
  <a href="password-recovery">Recover password</a>
}
