@layout MainLayout
@inherits LayoutComponentBase

@inject AppState AppState

@if (AppState.IsUserLoggedIn)
{
  @Body
}
else
{
  <div>
    <div class="login-and-signup">
      <a class="login" href="login">Log in</a>
      <a class="signup" href="sign-up">Sign up</a>
    </div>
  </div>
}
