@if (Errors != null)
{
  <ul id="errors">
    @foreach (string error in Errors)
    {
      <li>@error</li>
    }
  </ul>
}

@code {

  [Parameter]
  public IEnumerable<string> Errors { get; set; }

}
