@inherits LayoutComponentBase

@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
  <Authorized>
    <div class="user-menu">
      @if (NavigationManager.BaseUri != NavigationManager.Uri)
      {
        <div class="index-page-link">
          <a href="">index page</a>
        </div>
      }
      <div class="dropdown">
        @context.User.Identity?.Name
        <div class="show-menu"></div>
        <div class="dropdown-content">
          <AuthorizeView Roles="admin">
            <Authorized Context="adminContext">
              <a href="@($"{Configuration["IdentityUrl"]}/admin/users")">Users</a>
            </Authorized>
          </AuthorizeView>
          <a href="account">Settings</a>
          <a @onclick="OnLogout">Log out</a>
        </div>
      </div>
    </div>
  </Authorized>
  <NotAuthorized>
    <div>
      <div class="login-and-signup">
        <a class="login" href="authentication/login">Log in</a>
      </div>
    </div>
  </NotAuthorized>
</AuthorizeView>

@Body

@code {

  private async Task OnLogout(MouseEventArgs args)
  {
    await SignOutManager.SetSignOutState();

    NavigationManager.NavigateTo("authentication/logout");
  }

}
