@inherits LayoutComponentBase

@inject AppState AppState
@inject NavigationManager NavigationManager

@if (AppState.IsUserLoggedIn)
{
  <div class="user-menu">
    @if (NavigationManager.BaseUri != NavigationManager.Uri)
    {
      <div class="index-page-link">
        <a href="">index page</a>
      </div>
    }

    <div class="dropdown">
      @AppState.UserName
      <div class="show-menu"></div>
      <div class="dropdown-content">
        @if (AppState.IsAdmin)
        {
          <a href="users">Users</a>
        }
        <a href="account">Settings</a>
        <a @onclick="OnLogout">Log out</a>
      </div>
    </div>
  </div>
}
else
{
  <div>
    <div class="login-and-signup">
      <a class="login" href="login">Log in</a>
      <a class="signup" href="sign-up">Sign up</a>
    </div>
  </div>
}

@Body

@code {

  private void OnLogout()
  {
    NavigationManager.NavigateTo(string.Empty);
  }

}
