.main {
  width: 300px;
  margin: 70px auto;
  clear: right;
}

a {
  text-decoration: none;
}

.field {
  margin-bottom: 15px;
}

.display-block {
  display: block;
}

.input-text {
  font-size: 16px;
  text-indent: 10px;
  padding: 10px 0;
  width: 100%;
}

.submit-button {
  width: 100%;
  height: 42px;
  background-color: #6400e4;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

#errors li {
  color: #f65a5b;
}

.user-menu {
  float: right;
  margin: 15px 160px 35px 0;
}

.index-page-link {
  display: inline-block;
  margin-right: 40px;
}

.hide {
  display: none;
}
