@page
@model TodoList.Identity.API.Pages.Account.ConfirmEmailPageModel

<h3>Your email address has been confirmed</h3>
<a asp-page="Login" asp-route-returnUrl="@Model.ReturnUrl">Return to Login page</a>
