@page
@model TodoList.Identity.API.Pages.Account.ForgotPasswordPageModel

<form method="post">
    <div class="field">
        <label asp-for="Input.Email" class="display-block">Email</label>
        <input asp-for="Input.Email" type="text" class="input-text" />
        <span asp-validation-for="Input.Email"></span>
    </div>

    <partial name="_Button" model="@("Reset password")" />
</form>
