@page
@model TodoList.Identity.API.Pages.Account.ResetPasswordSuccessPageModel

<h3>Your password has been reset</h3>
<a asp-page="Login" asp-route-returnUrl="@Model.ReturnUrl">Return to Login page</a>
