@page
@model TodoList.Identity.API.Pages.Account.ResetPasswordPageModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="validation"></div>

    <div class="field">
        <label asp-for="Input.Password" class="display-block">Password</label>
        <input asp-for="Input.Password" type="password" class="input-text" />
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div class="field">
        <label asp-for="Input.ConfirmPassword" class="display-block">Retype password</label>
        <input asp-for="Input.ConfirmPassword" type="password" class="input-text" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>

    <partial name="_Button" model="@("Reset password")" />
</form>
