@model ChangePasswordViewModel

<form asp-route="ChangePassword">

  <div class="validation" asp-validation-summary="ModelOnly"></div>

  <div class="field">
    <label class="display-block" asp-for="OldPassword">Current</label>
    <input class="input-text" asp-for="OldPassword" type="password" />
    <span asp-validation-for="OldPassword"></span>
  </div>

  <div class="field">
    <label class="display-block" asp-for="NewPassword">New</label>
    <input class="input-text" asp-for="NewPassword" type="password" />
    <span asp-validation-for="NewPassword"></span>
  </div>

  <div class="field">
    <label class="display-block" asp-for="ConfirmNewPassword">Retype new</label>
    <input class="input-text" asp-for="ConfirmNewPassword" type="password" />
    <span asp-validation-for="ConfirmNewPassword"></span>
  </div>

  <partial name="_Button" model="@("Change")" />
</form>
