@layout AuthLayout
@page "/"

@inherits IndexComponent

<div>
  <ul id="item-list">
    @if (Items != null)
    {
      @foreach (var item in Items)
      {
        <li>@item.Text</li>
      }
    }
  </ul>

  <input type="text" id="text_input" />
  <p onclick="app.addItem();">Добавити</p>

  <ul id="buttons">
    <li id="update_button" class="red" onclick="app.updateItemText();">Зберегти</li>
    <li id="up_button" class="red" onclick="app.moveUpItem();">Вгору</li>
    <li id="down_button" class="red" onclick="app.moveDownItem();">Вниз</li>
    <li id="delete_button" class="red" onclick="app.deleteItem();">Видалити</li>
  </ul>
  <div>
    <br />
    <a href="/users">Користувачі</a>
  </div>
  <div>
    <br />
    <a href="/account">Керування аккаунтом</a>
  </div>
  <p onclick="app.logout()">Вийти</p>
</div>
