@layout AuthLayout
@page "/"

@inherits IndexComponent

<div>
  <ul id="item-list">
    @if (Items != null)
    {
      @foreach (var item in Items)
      {
        <li>
          <input type="checkbox" bind="@item.IsDone" />
          <input bind="@item.Text" />
        </li>
      }
    }
  </ul>

  <input type="text" />
  <button onclick="app.addItem();">Добавити</button>

  <div>
    <br />
    <a href="/users">Користувачі</a>
  </div>
  <div>
    <br />
    <a href="/account">Керування аккаунтом</a>
  </div>
  <p onclick="app.logout()">Вийти</p>
</div>
