@page "/login"

@inherits LoginComponent

<label for="email">Електронна пошта</label>
<input bind="@Email" id="email" type="text" /> <br />

<label for="password">Пароль</label>
<input bind="@Password" id="password" type="password" /> <br />

@if (IsTwoFactorTokenFieldDisplayed)
{
  <div id="two-factor-authentication-block">
    <label for="authentication-code">Код аутентифікації</label>
    <input bind="@TwoFactorToken" id="authentication-code" type="text" /> <br />
  </div>
}

@*<a href="https://www.facebook.com/v3.2/dialog/oauth?response_type=code&client_id=2183212631898223&redirect_uri=https://localhost:44374/facebookcallback">Facebook</a>
  <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=895102170629-q6uh1oqvltjau4v9p4lqsor155dlvdcl.apps.googleusercontent.com&redirect_uri=https://localhost:44374/googlecallback&scope=email">Google</a>
  <a href="https://github.com/login/oauth/authorize?client_id=f39f5854ebe1640ebac6&redirect_uri=https://localhost:44374/githubcallback&scope=user:email">Github</a>
  <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=778xsexk4ogstv&redirect_uri=https://localhost:44374/linkedincallback&scope=r_basicprofile+r_emailaddress">LinkedIn</a>*@

<p onclick="@OnLoginAsync">Увійти</p>

<ul id="errors"></ul>
