@page "/password-recovery"

@inherits PasswordRecoveryComponent

<div class="main">
  @if (IsPasswordRecovered)
  {
    <h3 style="text-align: center;">
      New password was sent to your email account
    </h3>
  }
  else
  {
    <div class="field">
      <label class="display-block" for="email">Email</label>
      <input class="input-text" bind="@UserForgotPasswordModel.Email" id="email" type="text" />
    </div>

    <ErrorsComponent Errors="Errors" />

    <ButtonComponent IsSpinnerEnabled="IsSpinnerEnabled" ButtonValue="Reset password" OnClick="OnEventAsync" />
  }
</div>
