@page "/password-recovery"

@inherits PasswordRecoveryComponent

@if (IsPasswordRecovered)
{
  <div>
    <p>Новий пароль відправлений на пошту.</p>
    <a href="login">Увійти</a>
  </div>
}
else
{
  <div>
    <label for="email">Електронна пошта</label>
    <input bind="@UserForgotPasswordModel.Email" id="email" type="text" /> <br />

    <p onclick="@OnRecoverPasswordAsync">Згенерувати новий пароль</p>

    @if (Errors != null)
    {
      <ul id="errors">
        @foreach (string error in Errors)
        {
          <li>@error</li>
        }
      </ul>
    }
  </div>
}
