@layout AuthLayout
@page "/enable-two-factor-authentication"

@inherits TwoFactorAuthEnablingComponent

<div class="main">
  <div class="field">
    Please use your authentication app (such as Google Authenticator) to scan this QR code
  </div>

  <div class="qrcode field" ref="QrCodeBlock"></div>

  <div class="field">
    <label class="display-block" for="two-factor-token">Please enter the code that you see on your authentication app</label>
    <input id="two-factor-token" class="input-text" bind="@UserEnableAuthenticatorModel.Code" type="text" />
  </div>

  <ErrorsComponent Errors="Errors" />

  <ButtonComponent IsSpinnerEnabled="IsSpinnerEnabled" ButtonValue="Turn on" OnClick="OnEventAsync" />
</div>
