@layout AuthLayout
@page "/users"

@inherits UsersComponent

<ul>
  @if (Users != null)
  {
    @foreach (var user in Users)
    {
      <li>
        @($"{user.Name} - {user.Email} - {user.IsEmailConfirmed}")
        <a onclick="@(() => DeleteUserAsync(user))">delete</a>
      </li>
    }
  }
</ul>
