@model ForgotPasswordViewModel

<form asp-route="ForgotPassword">
  <input type="hidden" asp-for="ReturnUrl" />

  <div class="field">
    <label class="display-block" asp-for="Email">Email</label>
    <input class="input-text" asp-for="Email" type="text" />
    <span asp-validation-for="Email"></span>
  </div>

  <partial name="_Button" model="@("Reset password")" />
</form>
