@model LoginWith2faViewModel

<form asp-route="LoginWith2fa">
  <input type="hidden" asp-for="ReturnUrl" />

  <div class="field">
    <label class="display-block" asp-for="TwoFactorToken">Authenticator code</label>
    <input class="input-text" asp-for="TwoFactorToken" type="text" />
    <span asp-validation-for="TwoFactorToken"></span>
  </div>

  <partial name="_Button" model="@("Log in")" />
</form>
