@model ErrorViewModel

@{
  string? error = Model.Error?.Error;
  string? errorDescription = Model.Error?.ErrorDescription;
}

<div class="error-page">
  <div class="row">
    <div class="col-sm-6">
      <div class="alert alert-danger">
        @if (error != null)
        {
          <div class="lead">
            <h1>Error</h1>
          </div>
          <div>
            Sorry, there was an error<strong><em>: @error</em></strong>
          </div><br>
          if (errorDescription != null)
          {
            <div>@errorDescription</div>
          }
        }
        else
        {
          <div class="lead">
            <h1>Ooops</h1>
          </div>
          <div>Can't obtain error details</div>
        }
      </div>
    </div>
  </div>
</div>
